Assets/Firebase/* filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/** filter=lfs diff=lfs merge=lfs -text
Assets/MagicSheildBubbles_URP/Prefabs/GameObject/GameObject.prefab filter=lfs diff=lfs merge=lfs -text
Assets/MagicSheildBubbles_HDRP/Prefabs/GameObject/GameObject.prefab filter=lfs diff=lfs merge=lfs -text
Assets/MagicSheildBubbles_HDRP/** filter=lfs diff=lfs merge=lfs -text
Assets/MagicSheildBubbles_URP/** filter=lfs diff=lfs merge=lfs -text
